// @use "../Style.scss" as *;
@use "../ExportVar.scss" as *;

.Card {
  width: 300px;
  height: auto;
  // border: 3px solid var(--box_shadow);
  border: 3px solid $box_shadow;
  border-radius: 0px 0px 50px 50px;
  margin: 2rem 0;
  box-shadow: 0 8px 8px 0 $box_shadow;
  background-color: nth($bg_color, 3);
  &:hover {
    scale: 1.1;
    transition: 0.2s linear;
  }
  > div {
    img {
      width: 100%;
      height: auto;
      cursor: pointer;
    }
  }
  > h1 {
    text-align: center;
    width: 90%;
    margin: auto;
    font-size: x-large;
    margin-bottom: 1rem;
  }
  p {
    // background-color: aqua;
    text-align: center;
    width: 80%;
    margin: auto;
    display: block;
  }
}
