@use "../Style.scss" as style;

.Card {
  width: 300px;
  height: auto;
  // border: 3px solid var(--box_shadow);
  border: 3px solid style.$box_shadow;
  border-radius: 50px 50px 50px 50px;
  margin: 2rem 0;
  box-shadow: 0 8px 8px 0 style.$box_shadow;
  background-color: nth(style.$bg_color, 3);
  overflow: hidden;
  transition: scale 0.2s linear;
  &:hover {
    scale: 1.1;
  }
  img {
    width: 100%;
    height: auto;
    cursor: pointer;
  }
  > h1 {
    text-align: center;
    width: 90%;
    margin: auto;
    font-size: x-large;
  }
  p {
    // background-color: aqua;
    text-align: center;
    width: 80%;
    margin: auto;
    display: block;
    margin-bottom: 1rem;
  }
}
