.Dropdown_ul {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 100%;
  min-width: 150px;
  margin-top: 2rem;

  li {
    display: flex;
    justify-content: center;
    align-items: center;
    a {
      padding: 0.7rem 1rem;
      margin: 0.25rem 0;
    }
    &:hover {
      a {
        background-color: #abcee1;
      }
    }
  }
}
