@use "../Style.scss" as *;
@use "../ExportVar.scss" as *;

.FormUser {
  width: 50%;
  margin: auto;
  background-color: nth($list: $bg_color, $n: 3);
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  gap: 1.5rem;
  padding: 1rem 0;
}

.formInput_default {
  width: 80% !important;
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  position: relative;
  .passwordVisibleIcon {
    position: absolute;
    right: 10px;
    top: 50%;
    cursor: pointer;
    color: black    ;
  }

  input {
    width: 100%;
    @include inputBox;
  }
}

.formInput_1 {
  @extend .formInput_default;
  label {
    @include placeholder;
  }
  span {
    padding: 0.2rem;
  }
}
