@use "../Style.scss" as *;

.Header {
  width: 100%;
  height: $Header_height;
  position: relative;
  background-color: $black;
  display: flex;
  justify-content: space-between;

  .Header_logo {
    width: 200px;
    height: 100%;
    margin: 0 3rem;
    img {
      width: 100%;
    }
    @include res_phone {
      @include phone {
        width: 200px;
        margin: 0 0.5rem;
      }
    }
  }
  .BurgerIcon {
    width: 100px;
    height: $Header_height;
    z-index: 1;
    display: none;
    > div {
      display: none;
    }
    @include res_phone {
      display: flex;
      > div {
        display: block;
      }
    }
  }

  .Navbar {
    width: 60%;

    @include res_desktop {
      width: 45%;
      @include laptop {
        width: 65%;
      }
    }

    @include res_phone {
      position: absolute;
      top: $Header_height;
      width: 100%;
      z-index: 10;
    }
  }
  .dropdown {
    display: none;
    position: relative;
  }
  .Navbar_ul.nav_hide {
    display: block;
  }
}
