@use "../Style.scss" as *;
@use "../ExportVar.scss" as *;

.product_section {
  width: 70vw;
  height: auto;
  margin: auto;
  background-color: nth($bg_color, 3);

  .Card_List {
    margin: auto;
    width: 100%;
    // height: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    // margin: auto;

    // border: 5px solid $bg_color;
  }
}
